/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&display=swap');


/* CSS Variables */
:root {
    --primary-font: "Outfit", sans-serif;
    --secondary-font: "Josefin Sans", sans-serif;
    --primary-color: #285862;
    /* dark blue */
    --secondary-color:white;
}

body {
    font-family: var(--primary-font) !important;
    background-color: var(--primary-color) !important;
    color: white !important;
    text-align: center !important;
    width: 100%;
    height: 100%;

}
.main-heading, .logo {
    margin: 10px;
    max-width: 100%;
    height: auto;
}
.logo,
.category {
    padding-top: 20px;
    width:auto;
    display: inline-block;
}
div.quiz-area.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    padding:10px;
}
.questions-text{
    font-size: x-large;
    font-weight: bold;
    margin: 20px auto;
    padding: 10px;
    color: #000000;
    background-color: #abaea3;
    border: 3px solid white;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 800px;
}
.answer-btn {
  font-size: large;
  font-weight: bold;
  color: black;
  background-color: #b0a78f;
  border: 4px solid #445c56;
  border-radius: 10px;
  padding: 12px 20px;
  margin: 10px auto;
  width: 100%;
  max-width: 600px;
  display: block;
}

.answer-btn:hover {
  background-color: #b5c3c6;
  color: #3b2f2b;
  cursor: pointer;
}

.answer-btn.correct {
  background-color: darkgreen;
  color: white;
  border-color: darkgreen;
}

.answer-btn.wrong {
  background-color: darkred;
  color: white;
  border-color: darkred;
}

#nxt-btn button {
  max-width: 200px;
  width: 100%;
}
#next-btn {
    background-color: #e7f4f4 !important;
    color: #3b2f2b !important;
    font-weight: bold;
    border: 4px solid #8a7c60;
    border-radius: 10px;
}

#next-btn:hover {
  background-color: #b5c3c6 !important;
  color: #3b2f2b !important;
  cursor: pointer;
}
#exit-btn {
    border: 4px solid #8a7c60;
    border-radius: 10px;
}

.btn {
    margin-right: 1rem;
    margin-top: 2rem;
}

.bold-large-button {
    font-weight: bold;
    font-size: 1.5rem;
}


#score-area {
    margin-top: 2rem;
    background-color: #b5c3c6;
    color:#000000; 
    font-size: x-large;
    display: inline-block;
    padding: 0.5em 2em;
}

#correct {
    color: #003800;
    font-weight: bold;
}

#incorrect {
    color: #6b0000;
    font-weight: bold;
}

.correct-feedback {
    background-color: #006600;
    color: #ffffff;
    font-size: 1.5em;
}

.incorrect-feedback {
    background-color: #b30000;
    color: #ffffff; 
    font-size: 1.5em;   
}

.hide{
    display: none !important;
}